/* Gradient! */
.background-gradient {
  background: linear-gradient(to right, #07a, #0aa);
}

/* Link animations */
.link-light {
  position: relative;
  color: #000;
  text-decoration: none;
}

.link-light:hover {
  color: #000;
}

.link-light::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-light:hover::before {
  transform: scaleX(1);
}

.link-light {
  color: rgb(188, 242, 255);
  transition: color 0.3s ease;
}

.link-light:hover {
  color: rgb(255, 255, 255);
}

.link-dark {
  position: relative;
  color: #000;
  text-decoration: none;
}

.link-dark:hover {
  color: #000;
}

.link-dark::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-dark:hover::before {
  transform: scaleX(1);
}

.link-dark {
  color: rgb(101, 101, 101);
  transition: color 0.3s ease;
}

.link-dark:hover {
  color: rgb(0, 0, 0);
}