@charset "utf-8";

// Import the Poppins font from Google
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$size-1: 60px;
$primary: #0091aa;
$card-color: $black-themed;
$card-background-color: $white-themed;
$card-shadow: 0 0 0 0 transparent;
$card-header-shadow: 0 0 0 0 transparent;
$card-radius: 0px;
$radius-small: 6px;
$radius: 10px;
$radius-large: 14px;
$control-radius: $radius;
$input-disabled-background-color: $input-background-color;
$input-disabled-border-color: transparent;
$input-disabled-placeholder-color: $input-placeholder-color;

// Import necessary Bulma components
@import "../../node/node_modules/bulma/sass/utilities/_all.sass";
@import "../../node/node_modules/bulma/sass/base/_all.sass";
@import "../../node/node_modules/bulma/sass/helpers/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/title.sass";
@import "../../node/node_modules/bulma/sass/layout/hero.sass";
@import "../../node/node_modules/bulma/sass/layout/section.sass";
@import "../../node/node_modules/bulma/sass/grid/columns.sass";
@import "../../node/node_modules/bulma/sass/elements/container.sass";
@import "../../node/node_modules/bulma/sass/elements/other.sass";
@import "../../node/node_modules/bulma/sass/elements/content.sass";
@import "../../node/node_modules/bulma/sass/components/card.sass";
@import "../../node/node_modules/bulma/sass/elements/image.sass";
@import "../../node/node_modules/bulma/sass/components/media.sass";
@import "../../node/node_modules/bulma/sass/form/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/button.sass";

// Used to show rows in the correct order on mobile (reversed when in column view otherwise)
@media only screen and (min-width: $tablet) {
    .reverse-row-order {
        display: flex;
        flex-direction: row-reverse;
    }
}

// Card customizations
.card-footer-item {
    background-color: rgba(128, 128, 128, 0);
    transition: 0.5s ease;
}

.card-footer-item:hover {
    background-color: rgba(128, 128, 128, 0.15);
    transition: 0.5s ease;
}

// Media scrollbar fix
.media-content {
    overflow: hidden;
}