@charset "utf-8";

// Import the Poppins font from Google
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$size-1: 60px;
$primary: rgb(131, 232, 255);

// Import necessary Bulma components
@import "../../node/node_modules/bulma/sass/utilities/_all.sass";
@import "../../node/node_modules/bulma/sass/base/_all.sass";
@import "../../node/node_modules/bulma/sass/helpers/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/title.sass";
@import "../../node/node_modules/bulma/sass/layout/hero.sass";
@import "../../node/node_modules/bulma/sass/layout/section.sass";
@import "../../node/node_modules/bulma/sass/grid/columns.sass";
@import "../../node/node_modules/bulma/sass/elements/container.sass";
@import "../../node/node_modules/bulma/sass/elements/other.sass";
@import "../../node/node_modules/bulma/sass/elements/content.sass";

// Used to show rows in the correct order on mobile (reversed when in column view otherwise)
@media only screen and (min-width: $tablet) {
    .reverse-row-order {
        display: flex;
        flex-direction: row-reverse;
    }
}