@charset "utf-8";

// Import the Poppins font from Google
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$size-1: 100px;
$primary: rgb(84, 224, 255);

// Import all Bulma components
@import "../../node/node_modules/bulma/sass/utilities/_all-custom.sass";
@import "../../node/node_modules/bulma/sass/base/_all.sass";
@import "../../node/node_modules/bulma/sass/helpers/_all.sass";
@import "../../node/node_modules/bulma/sass/elements/title.sass";
@import "../../node/node_modules/bulma/sass/layout/hero.sass";
@import "../../node/node_modules/bulma/sass/layout/section.sass";
@import "../../node/node_modules/bulma/sass/grid/columns.sass";
@import "../../node/node_modules/bulma/sass/elements/container.sass";